{% extends 'shop/base.html' %}

{% block main_content %}
<section class="product">
    <div class="product-wrapper">
        <div class="product product-img">
            <img src="{{ product.image.url }}" alt="...">
        </div>
        <div class="product product-about">
            <h1>{{ product.name }}</h1>
            <div class="price">
                <span class="product-price">{{product.price}}₴</span>
                <a href="{{ product.get_absolute_url }}" class="btn btn-success product-price-button">Додати до кошику</a>
            </div>
        </div>
        <div class="product product-description">
            <p>{{ product.description }}</p>
        </div>
    </div>
</section>
{% endblock main_content %}