{% extends 'shop/base.html' %}

{% block main_content %}
<section class="subcategory-products">
    <h1>{{ subcategory.name }}</h1>
    <div class="container-fluid subcategory-products">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3">
                <div class="card" style="width: 19rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{ product.name }}</h6>
                        <p class="card-text card-price">{{ product.price }}₴</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-info card-button">Детальна інформація</a>
                        <a href="#" class="btn btn-success">
                            <i class="fa-sharp fa-solid fa-basket-shopping fa-2xl" style="color: #ffffff;"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock main_content %}